.btn {
  font: normal normal 24px/1 BebasNeueRegular, 'Bebas Neue Regular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
  padding: 10px 50px;
  min-width: 134px;
  display: inline-block; }

.btn:hover {
  cursor: pointer; }

.btn-primary {
  color: #FFFFFF;
  border: 1px solid #f17622;
  background: #ef9223;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOTIyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMTc2MjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9223), color-stop(100%, #f17622));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ef9223 0%, #f17622 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #ef9223 0%, #f17622 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #ef9223 0%, #f17622 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #ef9223 0%, #f17622 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #ef9223 0%, #f17622 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef9223', endColorstr='#f17622',GradientType=0 );
  /* IE6-8 */ }

.btn-primary:hover, .btn-secondary {
  color: #EF9223;
  border: 1px solid #e2e2e2;
  background: #FFFFFF;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e2e2e2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e2e2e2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #e2e2e2 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #e2e2e2 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #e2e2e2 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #e2e2e2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
  /* IE6-8 */ }

.btn-secondary {
  color: #000000; }

.btn-secondary:hover {
  color: #FFFFFF;
  border: 1px solid #000000;
  background: #000000; }

.btn-inactive, .btn-inactive:hover {
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  background: #f7f7f7; }

.btn-inactive:hover {
  cursor: default; }

.btn-small {
  font-size: 14px;
  padding: 5px 25px;
  min-width: 74px; }

/* ====================
       Button Groups
   ==================== */
.btn-group-vertical .btn {
  display: block;
  margin: 0 0 8px; }

.btn-group-horizontal .btn {
  margin: 0; }
