/* --------------------------------------------------
Container
-------------------------------------------------- */
div#container, div.container {
  position: relative;
  max-width: 1008px;
  margin: 0 auto;
  padding: 0; }

/* --------------------------------------------------
Grid
-------------------------------------------------- */
.col-row, .row {
  margin: 0 0 18px -12px; }

.col, .cols {
  float: left;
  display: block;
  margin: 0 0 0 12px; }

.one {
  width: 73px; }

.two {
  width: 158px; }

.three {
  width: 243px; }

.four {
  width: 328px; }

.five {
  width: 413px; }

.six {
  width: 498px; }

.seven {
  width: 583px; }

.eight {
  width: 668px; }

.nine {
  width: 753px; }

.ten {
  width: 838px; }

.eleven {
  width: 923px; }

.twelve {
  width: 1008px; }

.offset-half {
  margin-left: 42.5px; }

.offset-one {
  margin-left: 85px; }

.offset-two {
  margin-left: 170px; }

.offset-three {
  margin-left: 255px; }

.offset-four {
  margin-left: 340px; }

.offset-five {
  margin-left: 425px; }

.offset-six {
  margin-left: 510px; }

.offset-seven {
  margin-left: 595px; }

.offset-eight {
  margin-left: 680px; }

.offset-nine {
  margin-left: 765px; }

.offset-ten {
  margin-left: 850px; }

.offset-eleven {
  margin-left: 935px; }

/* Clear the columns automagically, thanks @kneath */
.col-row:after, .row:after, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .col-row, * html .row, * html .clearfix {
  height: 1%; }

.col-row, .row, .clearfix {
  display: inline-block; }

.col-row, .row, .clearfix {
  display: block; }
