@charset "UTF-8";
@font-face {
  font-family: 'BebasFamily';
  src: url("../fonts/BebasNeue-Bold.eot");
  src: local("?"), url("../fonts/BebasNeue-Bold.woff") format("woff"), url("../fonts/BebasNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'BebasFamily';
  src: url("../fonts/BebasNeue-Regular.eot");
  src: local("?"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'BebasFamily';
  src: url("../fonts/BebasNeue-Book.eot");
  src: local("?"), url("../fonts/BebasNeue-Book.woff") format("woff"), url("../fonts/BebasNeue-Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'BebasFamily';
  src: url("../fonts/BebasNeue-Light.eot");
  src: local("?"), url("../fonts/BebasNeue-Light.woff") format("woff"), url("../fonts/BebasNeue-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'BebasFamily';
  src: url("../fonts/BebasNeue-Thin.eot");
  src: local("?"), url("../fonts/BebasNeue-Thin.woff") format("woff"), url("../fonts/BebasNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Flood';
  src: url("../fonts/floodstd-webfont.eot");
  src: local("?"), url("../fonts/floodstd-webfont.woff") format("woff"), url("../fonts/floodstd-webfont.ttf") format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-style: normal; }
html, body {
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #222; }

/*Page reformatting*/
#skinny-banner-placeholder {
  display: none; }

#main {
  max-width: 100%;
  width: 100%;
  margin-top: 0 !important; }

#main * {
  box-sizing: border-box; }

#main #tpl-column .tpl-cbs.floatLeft {
  float: none; }

.style-guide-header {
  width: 100%;
  padding: 24px;
  margin-bottom: 1.5em; }

.style-guide-header h1 {
  color: #888;
  max-width: 1008px;
  width: 100%;
  margin: 0 auto;
  font-weight: 200;
  border-bottom: 1px solid #C6C6C6; }

.style-guide-page {
  max-width: 1008px;
  width: 100%;
  margin: 0 auto; }

.style-guide-page:after {
  content: '';
  clear: both;
  display: table; }

.style-guide * + * {
  margin-top: 1.5em; }

.style-nav-menu {
  list-style-type: none;
  padding-left: 0; }

.style-nav-menu .style-nav-heading {
  font-family: "BebasFamily", BebasNeueRegular, "Bebas Neue", BebasNeue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: #888;
  text-decoration: none; }

.style-nav-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2.5em;
  color: #222; }

.style-nav-menu ul a {
  text-decoration: none; }

@media screen and (min-width: 768px) {
  .style-nav {
    height: 100%;
    min-height: 1px;
    width: 20%;
    margin-right: 5%;
    padding-top: 20px;
    padding-right: 1em;
    display: block;
    float: left;
    border-right: 1px solid #D6D6D6;
    text-align: right; }

  .style-nav-menu.sticky {
    position: fixed;
    top: 20px;
    z-index: 100;
    border-top: 0; }

  .style-guide {
    width: 75%;
    float: left; } }
.style-guide > section {
  padding: 1em; }

.style-guide > section > h2:first-child {
  margin: 0;
  font-weight: 200;
  color: #888;
  border-bottom: 1px solid #D6D6D6; }

.headline {
  font-family: "BebasFamily", BebasNeueRegular, "Bebas Neue", BebasNeue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 7em;
  line-height: .85;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.headline--secondary {
  font-size: 5em; }

h1, h2, h3, h4 {
  font-family: "BebasFamily", BebasNeueRegular, "Bebas Neue", BebasNeue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  color: #222;
  margin-top: 1.5em;
  margin-bottom: .5em; }

h1 {
  font-size: 36px; }

h1.heading-xl {
  font-size: 54px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5, h6 {
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  color: #222;
  margin-top: 1.5em;
  margin-bottom: .5em; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

.style-guide h5 + p,
.style-guide h6 + p {
  margin-top: 1em; }

a {
  color: inherit; }

a:hover {
  color: #EF9223; }

.flood {
  font-family: Flood, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

pre {
  word-wrap: break-word;
  white-space: pre-wrap; }

.bebas-bold {
  font-weight: bold; }

.bebas-regular {
  font-weight: normal; }

.bebas-book {
  font-weight: 300; }

.bebas-light {
  font-weight: 200; }

.bebas-thin {
  font-weight: 100; }

.style-guide ul,
.style-guide ol {
  padding-left: 2em; }

.style-guide ul {
  list-style-type: disc; }

.style-guide ol {
  list-style-type: decimal; }

.style-guide li,
.style-guide dl dt,
.style-guide dl dd {
  margin-top: .5em; }

.leftnav {
  padding: 0;
  color: #D6D6D6;
  list-style: none;
  font: normal normal 11px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.leftnav > li:first-child {
  color: #222;
  font-weight: bold; }

.btn {
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: .25em;
  padding: .75em 2em;
  display: inline-block; }

.btn:hover {
  cursor: pointer; }

.btn-primary {
  color: #FFF;
  border: 1px solid #E87E17;
  background: #E87E17;
  /* Old browsers */ }

.btn-primary:hover,
.btn-primary.force-hover {
  color: #FFF;
  border: 1px solid #EF9223;
  background: #EF9223;
  /* Old browsers */ }

.btn-secondary {
  color: #FFF;
  border: 1px solid #888;
  background: #888; }

.btn-secondary:hover,
.btn-secondary.force-hover {
  color: #FFF;
  border: 1px solid #222;
  background: #222; }

.btn-inactive, .btn-inactive:hover,
.btn-inactive.force-hover {
  color: #FFF;
  border: 1px solid #F1F1F1;
  background: #F1F1F1; }

.btn-inactive:hover,
.btn-inactive.force-hover {
  cursor: default; }

.btn-small {
  font-size: 11px;
  padding: .5em 2em;
  line-height: 2; }

/* ====================
       Button Groups
   ==================== */
.btn-group-vertical .btn {
  display: block;
  margin: 0 0 8px; }

.btn-group-horizontal {
  font-size: 0;
  text-align: center; }

.btn-group-horizontal .btn {
  margin: 0; }

blockquote:before {
  content: "\201C";
  font: normal 700 114px/0 "BebasFamily", BebasNeueRegular, "Bebas Neue", BebasNeue, Helvetica, Arial, sans-serif;
  color: #D6D6D6;
  position: relative;
  top: 90px;
  display: inherit;
  right: 7px; }

blockquote p {
  font: normal 700 2.75em/1 "BebasFamily", BebasNeueRegular, "Bebas Neue", BebasNeue, Helvetica, Arial, sans-serif;
  color: #D6D6D6;
  padding-left: 35px; }

blockquote cite {
  display: block;
  text-align: right;
  font-style: normal;
  color: #D6D6D6; }

blockquote cite:before {
  content: "– "; }

.pricing-table {
  width: 100%;
  border: 1px solid #D6D6D6;
  border-collapse: collapse;
  text-align: center;
  font: normal normal 12px/1.4 HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888; }

.pricing-table td,
.pricing-table th {
  border-left: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6; }

.pricing-table td {
  height: 30px;
  font-size: 14px; }

.pricing-table tr:nth-child(odd) {
  background-color: #FFF; }

.pricing-table tr:nth-child(even) {
  background-color: #F7F7F7; }

.pricing-table tbody tr:last-child td {
  border-bottom: 1px solid #D6D6D6; }

.pricing-table td:first-child,
.pricing-table th:first-child {
  border-left: none; }

.pricing-table td:last-child,
.pricing-table th:last-child {
  border-right: none; }

.pricing-table th {
  font: normal bold 24px "BebasFamily", BebasNeueRegular, "Bebas Neue", BebasNeue, Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #F1F1F1;
  background-color: #F1F1F1;
  padding: .5em; }

.pricing-table caption {
  text-align: left;
  font-size: 12px;
  font-style: italic; }

.tabs-menu {
  height: 30px; }

.tabs-menu li {
  height: 30px;
  min-width: 150px;
  line-height: 30px;
  display: inline-block;
  margin-right: 10px;
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1;
  border-bottom: none; }

.tabs-menu li:hover {
  background-color: #222;
  border: 1px solid #222;
  border-bottom: none; }

.tabs-menu li.current {
  position: relative;
  background-color: #FFF;
  border-top: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #F1F1F1;
  z-index: 5; }

.tabs-menu li a {
  display: block;
  min-width: 150px;
  text-align: center;
  color: #888;
  text-decoration: none; }

.tabs-menu li a:hover {
  color: #FFF; }

.tabs-menu li.current a {
  color: #222; }

.content-container {
  border: 1px solid #F1F1F1;
  background-color: #FFF;
  margin-bottom: 20px;
  width: auto; }

.tab-content {
  padding: 20px;
  display: none; }

#tab-1 {
  display: block; }

.color-block {
  display: block;
  height: 100px;
  width: 100px; }

.color-block-orange {
  background-color: #EF9223; }

.color-block-deeporange {
  background-color: #E87E17; }

.color-block-blacker {
  background-color: #000; }

.color-block-black {
  background-color: #222; }

.color-block-darkergray {
  background-color: #888; }

.color-block-darkgray {
  background-color: #C6C6C6; }

.color-block-gray {
  background-color: #D6D6D6; }

.color-block-lightgray {
  background-color: #F1F1F1; }

.color-block-offwhite {
  background-color: #F7F7F7; }

.color-block-white {
  background-color: #FFF;
  border: 1px solid #D6D6D6; }

.style-guide-page .color-chart {
  padding: 0;
  list-style-type: none;
  clear: both; }

.style-guide-page .color-chart li {
  float: left; }

.style-guide-page .color-chart:after {
  content: '';
  clear: both;
  display: table; }

.style-guide-page .color-chart li {
  margin: 0 1.5em; }
