blockquote:before {
    content: "\201C";
    font: normal 700 114px/0 $font-stack-brand;
    color: $color-gray;
    position: relative;
    top: 90px;
    display: inherit;
    right: 7px;
}

blockquote p {
    font: normal 700 38px/1 $font-stack-brand;
    color: $color-gray;
    padding-left: 35px;
}

blockquote cite {
    display: block;
    text-align: right;
    font-style: normal;
    color: $color-gray;
}

blockquote cite:before {
    content: "– ";
}
