.color-block {
    display: block;
    height: 100px;
    width: 100px;
}

.color-block-orange {
    background-color: $color-primary;
}

.color-block-deeporange {
    background-color: $color-primary-deep;
}

.color-block-black {
    background-color: $color-black;
}

.color-block-darkgray {
    background-color: $color-darkgray;
}

.color-block-gray {
    background-color: $color-gray;
}

.color-block-lightgray {
    background-color: $color-lightgray;
}

.color-block-offwhite {
    background-color: $color-offwhite;
}

.style-guide-page .color-chart {
    padding: 0;
    list-style-type: none;
    clear: both;
}

.style-guide-page .color-chart li {
    float: left;
}

.style-guide-page .color-chart:after {
    @include clearfix;
}

.style-guide-page .color-chart li {
    margin: 0 1.5em;
}
