@import "variables";
/*Page reformatting*/

#skinny-banner-placeholder {
    display: none;
}
#main {
    max-width: 100%;
    width: 100%;
    margin-top: 0!important;
}
#main * {
    box-sizing: border-box;
}
#main #tpl-column .tpl-cbs.floatLeft {
    float: none;
}


.style-guide-page {
    max-width: 1008px;
    width: 100%;
    margin: 0 auto;
}
.style-guide-page:after {
    @include clearfix;
}
.style-guide * + * {
    margin-top: 1.5em;
}
@media screen and (min-width: 768px) {
    .style-nav {
        width: 25%;
        float: left;
    }
    .style-guide {
        width: 75%;
        float: left;
    }
}
/*End page reformatting*/
section h1:first-child {
    color: $color-darkgray;
    font-family: $font-stack-brand;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    border-bottom: 1px solid $color-gray;
}
