@import "variables";
ul, ol {}

ul {
    li {

    }
}

ol {
    li {

    }
}

.leftnav {
    padding: 0;
    color: $color-gray;
    list-style: none;
    font: normal normal 11px $font-stack-text;
    text-transform: uppercase;
}
    .leftnav > li:first-child {
        color: $color-black;
        font-weight: bold;
    }
