@import "variables";
.style-guide ul,
.style-guide ol {
  padding-left: 2em;
}

.style-guide ul {
  list-style-type: disc;
}

.style-guide ol {
  list-style-type: decimal;
}

.style-guide li,
.style-guide dl dt,
.style-guide dl dd {
  margin-top: .5em;
}
.leftnav {
    padding: 0;
    color: $color-gray;
    list-style: none;
    font: normal normal 11px $font-stack-text;
    text-transform: uppercase;
}
    .leftnav > li:first-child {
        color: $color-black;
        font-weight: bold;
    }
