@import "variables";
html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: $color-darkgray;
}
h1, h2, h3, h4 {
  font-family: $font-stack-brand;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  color: $color-black;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

h1 {
  font-size: 42px;
}
    h1.heading-xl{
      font-size: 60px;
    }
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5, h6 {
  font-family: $font-stack-text;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  color: $color-black;
  margin-top: 1.5em;
  margin-bottom: .5em;
}
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
.style-guide h5 + p,
.style-guide h6 + p {
  margin-top: 1em;
}
a {
  color: inherit;
}
a:hover {
  color: $color-primary;
}
.flood {
  font-family: Flood, $font-stack-text;
  font-weight: normal;
  font-style: normal;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
