<!doctype html>
<html lang="en-US">
<head>
  <title>Art.com style guide and component library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
@@include('../partials/_svg.html')
<div id="main">
  @@include('../partials/_header.html')
  <div class="style-guide-page">
    @@include('../partials/_leftnav.html')
    <div class="style-guide">
      @@include('../sections/elements/_fonts.html')
      @@include('../sections/elements/_textStyles.html')
      @@include('../sections/elements/_textSpacing.html')
      @@include('../sections/elements/_colors.html')
      @@include('../sections/elements/_buttons.html')
      @@include('../sections/elements/_menus.html')
      @@include('../sections/elements/_pagination.html')
      @@include('../sections/elements/_lists.html')
      @@include('../sections/elements/_tables.html')
      @@include('../sections/elements/_forms.html')
    </div><!--/.style-guide-->
  </div><!--/.style-guide-page-->
</div><!--/#main-->
<script src="../js/highlight.pack.js"></script>
@@include('../partials/_scripts.html')
</body>
</html>
