<section id="colors">
  <h2>Colors</h2>
  <ul class="color-chart">
    <li>
      <span class="color-block color-block-blacker"></span>
      <p>#000<br>Blacker</p>
      <p><strong>Primary uses:</strong><br>Header text<br>Body text</p>
    </li>
    <li>
      <span class="color-block color-block-black"></span>
      <p>#222<br>Black</p>
      <p><strong>Primary uses:</strong><br>Header text<br>Body text</p>
    </li>
    <li>
      <span class="color-block color-block-darkergray"></span>
      <p>#888<br>Darker Gray</p>
      <p><strong>Primary uses:</strong><br>Body text<br>Text links</p>
    </li>
    <li>
      <span class="color-block color-block-darkgray"></span>
      <p>#C6C6C6<br>Dark Gray</p>
      <p><strong>Primary uses:</strong><br>Borders<br><br></p>
    </li>
    <li>
      <span class="color-block color-block-gray"></span>
      <p>#D6D6D6<br>Gray</p>
      <p><strong>Primary uses:</strong><br>Borders<br><br></p>
    </li>
    <li>
      <span class="color-block color-block-lightgray"></span>
      <p>#F1F1F1<br>Light Gray</p>
      <p><strong>Primary uses:</strong><br>Light gray fills,<br>Footers,<br>Header bars</p>
    </li>
    <li>
      <span class="color-block color-block-lightergray"></span>
      <p>#F7F7F7<br>Lighter Gray</p>
      <p><strong>Primary uses:</strong><br>Light gray fills,<br>Footers,<br>Header bars</p>
    </li>
    <li>
      <span class="color-block color-block-white"></span>
      <p>#FFF<br>White</p>
      <p><strong>Primary uses:</strong><br>Background color<br>rollover tab text<br>text over images</p>
    </li>
    <li>
      <span class="color-block color-block-orange"></span>
      <p>#EF9223<br>Orange</p>
      <p><strong>Primary uses:</strong><br>Text link<br>Icon hovers</p>
    </li>
    <li>
      <span class="color-block color-block-deeporange"></span>
      <p>#E87E17<br>Deep Orange</p>
      <p><strong>Primary uses:</strong><br>Text link<br>Icon hovers</p>
    </li>
  </ul>
</section>
