<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();

  $(document).ready(function() {
    var stickyNavTop = $('.style-nav').offset().top; //get top coordinate of nav
    var stickyNav = function() {
      var scrollTop = $(window).scrollTop(); //get top coordinate of scrolling window
      if (scrollTop > stickyNavTop) {
        $('.style-nav-menu').addClass('sticky');
      } else {
        $('.style-nav-menu').removeClass('sticky');
      }
    };
    stickyNav();
    $(window).scroll(function() {
      stickyNav();
    });
  });
</script>
