.color-block
  display: block
  height: 100px
  width: 100px
.color-block-orange
  background-color: $color-primary
.color-block-deeporange
  background-color: $color-primary-deep
.color-block-blacker
  background-color: $color-blacker
.color-block-black
  background-color: $color-black
.color-block-darkergray
  background-color: $color-darkergray
.color-block-darkgray
  background-color: $color-darkgray
.color-block-gray
  background-color: $color-gray
.color-block-lightgray
  background-color: $color-lightgray
.color-block-lightergray
  background-color: $color-lightergray
.color-block-white
  background-color: $color-white
  border: 1px solid $color-gray
.style-guide-page .color-chart
  padding: 0
  list-style-type: none
  clear: both
.style-guide-page .color-chart li
  float: left
.style-guide-page .color-chart:after
  clearfix()
.style-guide-page .color-chart li
  margin: 0 1.5em
