@font-face
  font-family: 'BebasFamily'
  src: url("/source/fonts/BebasNeue-Bold.eot")
  src: local("?"), url("/source/fonts/BebasNeue-Bold.woff") format("woff"), url("/source/fonts/BebasNeue-Bold.ttf") format("truetype")
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'BebasFamily'
  src: url("/source/fonts/BebasNeue-Regular.eot")
  src: local("?"), url("/source/fonts/BebasNeue-Regular.woff") format("woff"), url("/source/fonts/BebasNeue-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'BebasFamily'
  src: url("/source/fonts/BebasNeue-Book.eot")
  src: local("?"), url("/source/fonts/BebasNeue-Book.woff") format("woff"), url("/source/fonts/BebasNeue-Book.ttf") format("truetype")
  font-weight: 300
  font-style: normal
@font-face
  font-family: 'BebasFamily'
  src: url("/source/fonts/BebasNeue-Light.eot")
  src: local("?"), url("/source/fonts/BebasNeue-Light.woff") format("woff"), url("/source/fonts/BebasNeue-Light.ttf") format("truetype")
  font-weight: 200
  font-style: normal
@font-face
  font-family: 'BebasFamily'
  src: url("/source/fonts/BebasNeue-Thin.eot")
  src: local("?"), url("/source/fonts/BebasNeue-Thin.woff") format("woff"), url("/source/fonts/BebasNeue-Thin.ttf") format("truetype")
  font-weight: 100
  font-style: normal
@font-face
  font-family: 'Flood'
  src: url("/source/fonts/floodstd-webfont.eot")
  src: local("?"), url("/source/fonts/floodstd-webfont.woff") format("woff"), url("/source/fonts/floodstd-webfont.ttf") format("truetype")
  font-weight: 400
  font-weight: normal
  font-style: normal
