#pageNav
  text-align: left
  width: 100%
  padding-top: 0
#pageNav .currentPage
  font-weight: bold
  padding-left: 3px
  padding-right: 3px
  padding-bottom: 1px
  color: #000
#pageNav a
  padding-left: 4px
  padding-right: 4px
  margin: 0
  text-decoration: none
  display: inline-block
#pageNav .Next
  background: url("http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png") no-repeat -49px -26px
  width: 18px
  height: 18px
  vertical-align: bottom
  border: 0
  display: inline-block
#pageNav .view_per_page
  font-weight: normal
  margin-top: 0
  margin-right: 19px
#pageNav .view_per_page ul
  float: right
  list-style-type: none
  margin: 0
  padding: 0
#pageNav .view_per_page ul li
  float: left
  margin: 0
  padding: 1px 4px
  cursor: pointer
#pageNav .view_per_page ul li:hover
  color: $color-primary
#pageNav .view_per_page ul li:not(:last-child)
  border-right: 1px solid black
