<section id="logos">
  <h2>Logos</h2>
  <svg width="100px" height="100px" viewBox="0 0 230.8 268.7" aria-labelledby="title desc" fill="#222">
    <title>Art.com Logo</title>
    <desc>A dark-gray Art.com logo.</desc>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
  </svg>
  <svg width="100px" height="100px" viewBox="0 0 230.8 268.7" aria-labelledby="title desc" fill="#FFF" style="background:#888; padding:10px;">
    <title>Art.com Logo</title>
    <desc>A dark-gray Art.com logo.</desc>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
  </svg>
</section>
