<section id="buttons">
  <h2>Buttons</h2>
  <h3>Individual</h3>
  <a class="btn btn-primary">primary</a>
  <a class="btn btn-secondary">secondary</a>
  <a class="btn btn-inactive">inactive</a>
  <br>
  <a class="btn btn-primary btn-small">primary</a>
  <a class="btn btn-secondary btn-small">secondary</a>
  <a class="btn btn-inactive btn-small">inactive</a>

  <h3>Button Groups</h3>
  <div class="btn-group-vertical">
      <a class="btn btn-primary">add to cart</a>
      <a class="btn btn-secondary">frame it</a>
  </div>
  <div class="btn-group-horizontal">
      <a class="btn btn-secondary btn-small">mount</a>
      <a class="btn btn-secondary btn-small">laminate</a>
      <a class="btn btn-secondary btn-small">canvas</a>
  </div>
</section>
