<section id="colors">
  <h2>Colors</h2>
  <h3>Primary</h3>
  <ul class="color-chart">
    <li>
      <p class="color-block color-block-orange"></p>
      <p>#EF9223</p>
      <p>Orange</p>
    </li>
    <li>
      <p class="color-block color-block-deeporange"></p>
      <p>#F17622</p>
      <p>Deep Orange</p>
    </li>
  </ul>
  <h3>Grayscale</h3>
  <ul class="color-chart">
    <li>
      <p class="color-block color-block-black"></p>
      <p>#222</p>
      <p>Black</p>
    </li>
    <li>
      <p class="color-block color-block-darkgray"></p>
      <p>#333</p>
      <p>Dark Gray</p>
    </li>
    <li>
      <p class="color-block color-block-gray"></p>
      <p>#888</p>
      <p>Gray</p>
    </li>
    <li>
      <p class="color-block color-block-lightgray"></p>
      <p>#CCC</p>
      <p>Light Gray</p>
    </li>
    <li>
      <p class="color-block color-block-offwhite"></p>
      <p>#EFEFEF</p>
      <p>Off-white</p>
    </li>
    <li>
      <p class="color-block color-block-white"></p>
      <p>#FFF</p>
      <p>White</p>
    </li>
  </ul>
</section>
