<section id="monospace">
  <h2>Monospace / Preformatted</h2>
  <p>Code block wrapped in "pre" and "code" tags</p>
  <pre><code>var test = variable;
$("#jQuery").html('');</code></pre>
  <p>Monospace Text wrapped in "pre" tags</p>
  <pre><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p></pre>
</section>
