<section id="pagination">
  <h2>Pagination</h2>
  <div id="pageNav">
    <div class="gFltRight">
      <span class="currentPage">1</span>
      <a href="/gallery/id--d207233/framed-art-prints_p2.htm">2</a>
      <a href="/gallery/id--d207233/framed-art-prints_p3.htm">3</a>
      <a href="/gallery/id--d207233/framed-art-prints_p4.htm">4</a>
      <a href="/gallery/id--d207233/framed-art-prints_p5.htm">5</a>
      <a href="/gallery/id--d207233/framed-art-prints_p2.htm" class="PrevNext"><span class="Next"></span></a>
    </div>
    <div class="gFltRight view_per_page">
      View Per Page
      <ul>
        <li>16</li>
        <li id="per_page_selected">32</li>
        <li>48</li>
      </ul>
    </div>
  </div>
</section>
