<section id="text-styles">
  <h2>Page text styles</h2>

  <h1 class=" heading-xl">H1 XL: Bebas Neue, 54px, #222, Uppercase, Bold</h1>
  <h1>H1: Bebas Neue, 36px, #222, Uppercase, Bold</h1>
  <h2>H2: Bebas Neue, 24px, #222, Uppercase, Bold</h2>
  <h3>H3: Bebas Neue, 22px, #222, Uppercase, Bold</h3>
  <h4>H4: Bebas Neue, 18px, #222, Uppercase, Bold</h4>
  <h5>H5: Helvetica Neue, 14px, #222, Bold</h5>
  <h6>H6: Helvetica Neue, 12px, #222, Bold</h6>

  <!--paragraph-->
  <p>Helvetica Neue, 12px, #888888, Regular<br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum ornare ligula vitae turpis. Integer tempus libero quis mi. Etiam consequat convallis lorem.</p>
  <p>Helvetica Neue, 12px, #000000, Regular<br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum ornare ligula vitae turpis. Integer tempus libero quis mi. Etiam consequat convallis lorem.</p>
  <!--normal-->
  <p>Normal<br>Helvetica Neue, 12px, #888888, Regular, Proper case, Underline</p>
  <p>On Hover<br>Helvetica Neue, 12px, #EF9223, Regular, Proper case, Underline</p>
  <!--caps-->
  <p>Normal<br>Helvetica Neue, 12px, #888888, Regular, Proper case, Underline</p>
  <p>On Hover<br>Helvetica Neue, 12px, #EF9223, Regular, Proper case, Underline</p>
</section>
