<!doctype html>
<html lang="en-US">
<head>
  <title>Art.com style guide and component library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
@@include('../_svg.html')
<div id="main">
  @@include('../_header.html')
  <div class="style-guide-page">
    @@include('../_leftnav.html')
    <div class="style-guide">
      @@include('../sections/elements/_2_fonts.html')
      @@include('../sections/elements/_3_colors.html')
      @@include('../sections/elements/_4_headings.html')
      @@include('../sections/elements/_5_text.html')
      @@include('../sections/elements/_6_blockquotes.html')
      @@include('../sections/elements/_7_figures.html')
      @@include('../sections/elements/_8_monospace.html')
      @@include('../sections/elements/_9_lists.html')
      @@include('../sections/elements/_10_buttons.html')
      @@include('../sections/elements/_11_tables.html')
      @@include('../sections/elements/_12_media.html')
      @@include('../sections/elements/_13_forms.html')
    </div><!--/.style-guide-->
  </div><!--/.style-guide-page-->
</div><!--/#main-->

<script>
$(document).ready(function() {
    var stickyNavTop = $('.style-nav').offset().top; //get top coordinate of nav

    var stickyNav = function() {
        var scrollTop = $(window).scrollTop(); //get top coordinate of scrolling window

        if (scrollTop > stickyNavTop) {
            $('.style-nav-menu').addClass('sticky');
        } else {
            $('.style-nav-menu').removeClass('sticky');
        }
    };

    stickyNav();

    $(window).scroll(function() {
        stickyNav();
    });
});


$('#flood-box').change(function() {
    if ($(this).is(":checked")) {
        $('.flood-toggle').addClass("flood");
    } else {
        $('.flood-toggle').removeClass("flood");
    }
});
</script>
</body>
</html>
