<nav class="style-nav">
  <ul class="style-nav-menu">
    <li>
      <a href="/Style-Guide" class="style-nav-heading">Brand</a>
      <ul>
        <li><a href="/Style-Guide/#welcome">Welcome</a></li>
        <li><a href="/Style-Guide/#wordmark">Wordmark</a></li>
        <li><a href="/Style-Guide/#brand-voice">Brand Voice</a></li>
      </ul>
    </li>
    <li>
      <a href="/Style-Guide/elements" class="style-nav-heading">Site elements</a>
      <ul>
        <li><a href="#fonts">Fonts</a></li>
        <li><a href="#colors">Colors</a></li>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#text-elements">Text elements</a></li>
        <li><a href="#blockquotes">Blockquote</a></li>
        <li><a href="#figures">Figure</a></li>
        <li><a href="#monospace">Monospace</a></li>
        <li><a href="#list-types">List types</a></li>
        <li><a href="#buttons">Buttons</a></li>
        <li><a href="#tables">Tables</a></li>
        <li><a href="#form-elements">Forms</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="style-nav-heading">TBD</a>
    </li>
  </ul>
</nav>
