<nav class="style-nav">
  <ul class="style-nav-menu">
    <li>
      <a href="#">Brand</a>
      <ul>
        <li>
          Welcome
        </li>
        <li>
          Wordmark
        </li>
        <li>
          Brand Voice
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Site elements</a>
      <ul>
        <li><a href="#logos">Logos</a></li>
        <li><a href="#fonts">Fonts</a></li>
        <li><a href="#colors">Colors</a></li>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#text-elements">Text elements</a></li>
        <li><a href="#blockquotes">Blockquote</a></li>
        <li><a href="#figures">Figure</a></li>
        <li><a href="#monospace">Monospace</a></li>
        <li><a href="#list-types">List types</a></li>
        <li><a href="#buttons">Buttons</a></li>
        <li><a href="#tables">Tables</a></li>
        <li><a href="#media-elements">Media</a></li>
        <li><a href="#form-elements">Forms</a></li>
      </ul>
    </li>
    <li>
      <a href="#">TBD</a>
    </li>
  </ul>
</nav>
