<nav class="style-nav">
  <ul class="style-nav-menu">
    <li>
      <a href="/Style-Guide" class="style-nav-heading">Brand</a>
      <ul>
        <li><a href="/Style-Guide/#welcome">Welcome</a></li>
        <li><a href="/Style-Guide/#wordmark">Wordmark</a></li>
        <li><a href="/Style-Guide/#brand-voice">Brand Voice</a></li>
      </ul>
    </li>
    <li>
      <a href="/Style-Guide/elements" class="style-nav-heading">Site elements</a>
      <ul>
        <li><a href="#fonts">Fonts</a></li>
        <li><a href="#colors">Colors</a></li>
        <li><a href="#">Buttons</a></li>
        <li><a href="#">Menus</a></li>
        <li><a href="#">Tabs</a></li>
        <li><a href="#">Pagination</a></li>
        <li><a href="#">Carousel</a></li>
        <li><a href="#">Scrolling</a></li>
        <li><a href="#">Tool tips</a></li>
        <li><a href="#">Pop-up modals</a></li>
        <li><a href="#">Menus</a></li>
        <li><a href="#">List types</a></li>
        <li><a href="#">Tables</a></li>
        <li><a href="#form-elements">Form Elements</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="style-nav-heading">TBD</a>
    </li>
  </ul>
</nav>
